<h1>This is the login page</h1>

<%= form_tag(login_path, method: "post") do %>
  <%= label_tag :name %>
  <%= text_field_tag :name %> <br>
  <%= label_tag :password %>
  <%= password_field_tag :password %> <br>
  <%= submit_tag "Login" %>
<% end %>

<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>
