<h1>This is the login page</h1>

<%= form_for  login_path do |f|%>
  <%= f.label :name %>
  <%= f.text_field :name %> <br>
  <%= f.label :password %>
  <%= f.text_field :password %> <br>
  <%= f.submit "Login" %>
<% end %>

